$primaryOne: hsl(179, 62%, 43%); 
$primaryTwo: hsl(71, 73%, 54%);
$background: #e6eff6;  

@mixin reset() {
    margin: 0;
    padding: 0;  
}

@mixin flexCenter() {
    display: flex;
    justify-content: center;
    align-items: center;
}

@font-face {
    font-family: 'Karla';
    src: local(Karla), url(https://fonts.google.com/specimen/Karla);
}

* {
    @include reset();
    background-color: $background;     
}

body {
    @include reset();
    height: 100vh;
    font-family: 'Karla', sans-serif;
}

main {
   @include flexCenter();
}



