$primaryOne: hsl(179, 62%, 43%); 
$primaryTwo: hsl(71, 73%, 54%);
$primaryThree: hsl(179, 47%, 52);
$mainBackground: hsl(204, 43%, 93%);
$firsSectionBackground: white;
$fontColorOne: hsl(218, 22%, 67%);
$fontColorTwo: hsl(180, 100%, 94%);

body {
    max-width: 1440px;
    margin: 0;
    padding: 0;
    background-color: $mainBackground;
    font-size: 16px;
    font-family: 'Karla', sans-serif;    
}

.grid {
    display: grid;    
    grid-template-columns: 1fr 1fr;
    margin: 5% auto 25px auto; 
    max-width: 720px;
    border-radius: 10px;
    box-shadow: 1px 1px 12px 0px rgba(148, 147, 147, 0.5);

    .first-section {
        background-color: $firsSectionBackground;
        grid-row: 1;
        grid-column: 1/3;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        padding: 15px 30px 25px 35px; 
        
        h1 {
            color: $primaryOne;
        }

        h2 {
            font-size: 1.2em;
            color: $primaryTwo;
        }
        
        ul {
            padding: 0;
            list-style-type: none;
            color: $fontColorOne;
        }
    }

    .second-section {
        display: flex;
        flex-flow: column wrap;
        background-color: $primaryOne;
        border-bottom-left-radius: 10px;
        padding: 15px 30px 25px 35px;

        h2 {
            color: $fontColorTwo;
            font-size: 1.2em;
        }

        .per-month {
            color: $fontColorTwo; 
            display: flex;  
            align-items: center;         
            
            span {
                font-size: 2em;
                font-weight: 700; 
                padding-right: 10px;                
            }

            p {
                color: $fontColorTwo;
                font-weight: lighter;
                opacity: 0.75;               
            }
        }

        .full-access {
            margin-top: 5px;
            color: $fontColorTwo;
            flex-grow: 1;
        } 

        .sign-up {
            padding: 10px;
            background-color: $primaryTwo;
            height: 50px;
            border-style: none;
            border-radius: 5px;
            color: $firsSectionBackground;
            box-shadow: 5px 1px 10px 0px rgba(88, 88, 88, 0.75);
             

            &:hover {
                transform: scale(1.01);
            }
        }
    }

    .third-section {
        background-color: $primaryThree; 
        border-bottom-right-radius: 10px;
        padding: 15px 30px 25px 35px;

        h2 {
            color: $fontColorTwo;
            font-size: 1.2em;
        }
        
        ul {
            list-style-type: none;
            padding: 0;
            font-size: 0.9em;
            color: $fontColorTwo;
            line-height: 1.4em;
        }
    }       
}
@media (max-width: 792px) {
    .grid {
        margin: 10% 5% 25px 5%;
    }
}


@media (max-width: 510px) {
    .grid { 
        grid-template-columns: 1fr;

        .first-section {
            grid-column: 1;
        }

        .second-section {
            border-bottom-left-radius: 0px;
        }

        .third-section {
            border-bottom-left-radius: 10px;
        }
    }
}

@media (max-width: 375px) {
    .grid {
        margin: 10% 10% 25px 10%;
    }
}

footer {
    display: flex;
    justify-content: center;
}







